{% extends 'boitoi/main.html' %}
{% load static %}
{% block content %}
<style>
    .add_item_container{
        position: relative;
        width: 100%;
        height: fit-content;
    }
</style>
<div class="add_item_container">
    <div class="item_box">
        <div class="item_name">
            Books
        </div>
        <div class="items">

        </div>
        <div class="item_actions">
            <button class="add_item_button">
                Add
            </button>
        </div>
    </div>


</div>




{% endblock %}